.container.main{
	margin-top: 1em;
	margin-bottom: 1em;
}

.breadcrumb{
	background: none;
	margin: 0;
	padding: 0;
}

.navbar-brand{
	margin-right: 0;
}

.breadcrumb-item{
	display: flex;
	align-items: center;
}

form, .page-title{
	margin-top: 2rem;
	margin-bottom: .7em;
}

.page-title{
	margin-bottom: 0;
}

.meeting .table-borderless td:first-child, .meeting .table-borderless th:first-child{
	padding-left: 0;
	width: 120px;
}

.num-box{
	width: 50px;
	text-align: center;
}

#calendar-container{
	height: calc(100vh - 56px - 2em);
}

#calendar h2{
	font-size: 1.2em;
}

.fc-toolbar .fc-center{
	display: inline-flex;
	align-items: center;
}

.weeknumber.primary{
	opacity: 1;
    background: rgba(0,0,0,0);
}

.weeknumber.secondary{
	opacity: .7;
	background: rgb(0,170,0,.1);
}

.weeknumber span{
	display: inline-block;
    padding: 2px 5px;
    font-style: italic;
    font-size: .9em;
}

.weeknumber.primary span{
	font-weight: bold;
}

.topic{
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 3fr 2fr;
	grid-gap: 1.5em;
	margin-top: 2em;
}

.task{
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-gap: 1.5em;
	margin-top: 2em;
}

.topic h2, .task h2{
	margin: 0;
}

.info table, .topic .info th, .topic .info td{
	margin-bottom: 0;
}

.tasks form{
	margin: 0;
}

button.list-group-item{
	cursor: pointer;
}

hr{
	border-top-color: rgba(0,0,0,1);
}

.minute{
	page-break-inside: avoid;
}

.breadcrumb-item a:not(.navbar-brand){
	color: inherit;
	text-decoration: underline;
}

@media screen and (max-width: 700px) {
	html{
		font-size: 14px;
	}
}


.minutes-state-block{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.minutes-state-block i{
	color: rgba(0,0,0,.4);
}

.minutes-state-block p{
	margin: 0;
}
